.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.5rem 3rem;
    font-size: 3rem;

    & > *:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__row {
        display: flex;
        height: 40vh;
        border-bottom: 1px solid #e3e3e3;

        &__child {
            width: 50%;
            cursor: pointer;

            &--text {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                font-size: 2rem;

                & > *:not(:last-child) {
                    margin-bottom: 0.7rem;
                }
            }

            &--img {
                height: 100%;
                object-fit: contain;
                border-right: 1px solid #e3e3e3;
            }
        }
    }

    &__button {
        font-size: 1.5rem;
        height: 4.5rem;
        width: 12%;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        transition: all .5s;

        &:hover {
            background-color: black;
            color: white;
            transform: translateY(-4px);
        }
    }
}