.image-gallery {
    padding: 2.5rem;

    h2 {
        font-size: 2rem;
    }

    &__thumbnail {
        width: 8rem;
        height: 1rem;

        & img {
            object-fit: cover;
        }
    }
}
