.static-gallery {
    display: grid;
    padding: 6rem 7rem;

    &__item {
        display: flex;
        flex-direction: column;
        color: #555f77;
        font-size: 1.8rem;

        & > *:not(:last-child) {
            margin-bottom: 1.4rem;
        }

        & hr {
            border: 1px solid currentColor;
            width: 2.6rem;
        }

        &--img {
            object-fit: cover;
            margin-bottom: 2rem;
        }

        &--name {
            font-weight: 700;
        }

        &--position {
            font-weight: 350;
            font-size: 2rem;
        }

        &--description {
            text-align: left;
            font-weight: 250;
            font-size: 1.8rem;
        }
    }
}
