.image-modal {
    &--img {
        // Set a limit on the height for each image and make it fit its parent div
        width: 100%;
        height: 35rem;
        object-fit: cover;
    }

    &--p {
        font-size: 1.8rem;
        padding: 1rem;
        // width: 70%;
        margin: 0 auto;
        overflow-y: auto;
    }

    &--date {
        font-size: 1.2rem;
    }
}

.centered {
    text-align: center;
    padding: 1rem;
}
