@import "../../variables.scss";

.footer {
    font-size: 1.8rem;

    &__top {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
        height: 40rem;
        background-color: #303030;
        color: white;

        &-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 3rem;
            width: 20%;

            & > *:not(:last-child) {
                margin-bottom: 1rem;
            }

            & a:visited,
            & a:link {
                text-decoration: none;
                border: none;
                color: white;
                transition: color 0.2s;

                &:hover {
                    color: #b49759;
                }
            }

            @media screen and (max-width: $breakpointBigPhone) {
                width: 50%;
            }

            @media screen and (max-width: $breakpointSmallPhone) {
                width: 75%;
            }

            @media screen and (max-width: $breakpointSuperSmall) {
                width: 95%;
            }
        }

        &-child:last-child {
            @media screen and (max-width: $breakpointBigPhone) {
                margin-bottom: 3rem;
            }
        }

        @media screen and (max-width: $breakpointBigPhone) {
            flex-direction: column;
            height: auto;
            align-items: center;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        height: 6rem;
        background-color: #202020;
        color: #838383;

        @media screen and (max-width: $breakpointSmallPhone) {
            padding: 2rem;
        }
    }
}

.social-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    &__svg {
        cursor: pointer;
        width: 2.8rem;
        height: 2.8rem;

        &--social {
            fill: white;
        }

        &--nonsocial {
            fill: #b49759;
        }
    }

    @media screen and (max-width: $breakpointSmallLaptop) {
        width: 80%;
    }
}

.contact-phone-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;

    & p {
        width: 80%;
        font-size: 1.6rem;

        @media screen and (max-width: $breakpointSmallLaptop) {
            width: 100%;
            text-align: center;
        }
    }
}

.solid {
    border-top: 0.5px solid #bbb;
    width: 100%;

    @media screen and (max-width: $breakpointSmallPhone) {
        width: 50%;
    }
}
