.image-gallery {
    padding: 2.5rem;

    h2 {
        font-size: 2rem;
    }

    &__box {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.image-container {
    height: 30rem;
    width: 30rem;
    flex: none;
    cursor: pointer;
    margin: 2.5rem 1.5rem 5rem 0;
    overflow: hidden;

    &__item {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}
