.image-gallery {
    padding: 2.5rem;

    h2 {
        font-size: 2rem;
    }

    &__box {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__button-container {
        display: inline-block;

        .button {
            background-color: transparent;
            cursor: pointer;
            padding: 1.5rem 2rem;
            border-radius: 50%;
            border: 1.5px solid rgba($color: black, $alpha: 0.8);
            text-decoration: none;
            outline: none;

            font-size: 2.7rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}

.image-container {
    height: 30rem;
    width: 30rem;
    flex: none;
    cursor: pointer;
    margin: 2.5rem 1.5rem 5rem 0;
    overflow: hidden;

    &__item {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.7s;

        &:hover {
            transform: scale(1.1);
        }
    }
}
