$breakpointSmallLaptop: 64.0625em; // 1025px
$breakpointTablet: 48.0625em; // 769px
$breakpointBigPhone: 37.5em; // 600px
$breakpointSmallPhone: 30.0625em; // 481px
$breakpointSuperSmall: 20em; // 320px
