.image-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba($color: black, $alpha: 0.6);

    &__box {
        display: flex;
        flex-direction: column;
        position: absolute;

        // Specify a constraint for the width of the centered div so the image inside it can
        // adjust accordingly
        max-width: 50%;
        min-width: 30rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;

        &--img {
            // Set a limit on the height for each image and make it fit its parent div
            width: 100%;
            height: 35rem;
            object-fit: cover;
        }

        &--p {
            font-size: 1.8rem;
            padding: 3rem;
            text-align: center;
        }
    }
}

.image-modal-animation {
    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity 0.7s;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity 0.7s;
    }
}

.cross-button {
    position: absolute;
    top: 0.5rem;
    right: 1.4rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    vertical-align: middle;

    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: lighter;
    transition: all 0.5s;
    opacity: 0;
    background-color: white;
    border-radius: 50%;

    animation: moveButton 0.7s linear forwards;

    &:hover {
        background-color: black;
        color: white;
    }
}

@keyframes moveButton {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    50% {
        opacity: 1;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
